# Environment variables
.env

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
.out

# IDE-specific files
.idea/
.vscode/

# Go workspace file
go.work

# Secrets
secrets.txt

run_dev.sh

# Binaries
numbernice-app
numbernice-linux
run_migration-linux
cloud_sql_proxy

# Uploads
static/uploads/*
!static/uploads/.gitkeep
